.Login-container {
    top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(239, 239, 239);
    overflow: auto;
    display: flex;
    
}
.Login-container .Login-content {
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Login-container .Login-content .Login-card {
    padding: 16px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.Login-container .Login-content .Login-card h2 {
    margin-top: 0;
}

.Login-error {
    color: red;
    text-align: center;
}

