.Classes-container .Classes-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.Classes-container .Classes-content .Classes-card {
    padding: 16px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: solid 1px #d4d4d4;
}

.Classes-container .Classes-content h2{
    margin-left: 10px;
}

.Classes-p-10 {
    padding: 10px;
}

@media only screen and (max-width: 720px) {
    .Classes-container .Classes-content {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
}
