.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mt-10 {
  margin-top: 10px;
}

input {
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border: solid 1px #cecece;
  width: 30vw;
}
@media only screen and (max-width: 720px) {
  input {
      width: 70vw!important;        
  }
}

button {
  background: #13c8ff;
  padding: 10px;
  font-weight: 600;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}